<configuration >
    <!--

    local = info level -> console

    dev = error level -> slack

    prod = error level -> slack

    ( if need to make custom log , use warn level )

    -->

    <!-- Log Configuration-->
    <property name="WEBHOOK_URL" value="REDACTED_WEBHOOK"/>
    <property name="LOG_PATTERN" value="%level %d{yy-MM-dd HH:mm:ss} , [%logger{0}:%line] - %msg%n"/>

    <springProfile name="local">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <charset>UTF-8</charset>
                <pattern>${LOG_PATTERN}</pattern>
            </encoder>
        </appender>
        <root level="Info">
            <appender-ref ref="CONSOLE"/>
        </root>

    </springProfile>

    <springProfile name="dev">
        <appender name="CLOUD" class="com.google.cloud.logging.logback.LoggingAppender">
            <!-- Optional : filter logs at or above a level -->
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>INFO</level>
            </filter>
            <redirectToStdout>true</redirectToStdout>
            <resourceType>cloud_run_revision</resourceType> <!-- Optional : default java.log -->
            <flushLevel>WARN</flushLevel> <!-- Optional : default ERROR -->
        </appender>

        <root level="Info">
            <appender-ref ref="CLOUD" />
        </root>
    </springProfile>

    <springProfile name="prod">
        <appender name="CLOUD" class="com.google.cloud.logging.logback.LoggingAppender">
            <!-- Optional : filter logs at or above a level -->
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>WARN</level>
            </filter>
            <redirectToStdout>true</redirectToStdout>
            <resourceType>cloud_run_revision</resourceType> <!-- Optional : default java.log -->
            <flushLevel>WARN</flushLevel> <!-- Optional : default ERROR -->
        </appender>

        <root level="WARN">
            <appender-ref ref="CLOUD" />
        </root>
    </springProfile>

</configuration>